<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manoranjan.wolwou">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appiconnew"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appiconnew"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.manoranjan.wolwou.Activity.Forgot_pass"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.manoranjan.wolwou.Activity.OtpVerifyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.manoranjan.wolwou.Activity.Phonelogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.manoranjan.wolwou.Activity.MeetinghistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.manoranjan.wolwou.Activity.LoginDashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.manoranjan.wolwou.Activity.Emailverify"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.manoranjan.wolwou.Activity.Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.manoranjan.wolwou.Activity.WelcomeSliders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.manoranjan.wolwou.Activity.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.manoranjan.wolwou.Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:configChanges="keyboard|orientation"
            android:launchMode="singleTask"
            android:name="com.dropbox.core.android.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="db-ch2dw0j0jlwmtmw"/>
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


</manifest>